@import '../../styles/_variables.scss';
@import '../../styles/_mixins.scss';

.footer {

  color: $color-text;
  padding: 50px 30px 10px 30px;
  
  .top {
    display: flex;
    padding-bottom: 20px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: $spacing-sm;
  }
  .logo {
    font-family: $font-opensans;
    font-weight: $font-weight-bold;
    font-size: $font-size-lg;
  }
  .menu {
    display: flex;
    flex-direction: column;
   gap: $spacing-sm;
    a {
      color: $color-text;
      &:hover {
        color: $color-primary;
      }
    }
  }
  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e0e0e0;
    margin-top: $spacing-sm;
    padding: $spacing-xs 0;
    text-align: center;
    font-size: $font-size-sm;
    p{
       color: #666;
    }
    .menufooter {
      align-items: center;
      justify-content: end;
      display: flex;
      gap: $spacing-md;
      a {
        color: #666;
        &:hover {
          color: $color-primary;
        }
      }
    }
  }
  @include respond-to(sm) {
    .top {
      flex-direction: column;
      align-items: flex-start;
      gap: $spacing-sm;
    }
    .menu {
      flex-direction: column;
      gap: $spacing-xs;
    }
  }
}
